<div ng-controller="dashboardController" class="icon-block">
	<header class="nav">
		Bucket List |
		<a href="#!/dashboard">Home</a> |
		<a href="" ng-click="logoutUser()">Logout</a>
	</header>
	<h1>Welcome, {{user.name}}!</h1>
	<div>
		<p>What do you want to do?
		<br>
		<span class="red-text text-darken-2">
			{{errors.title.message}}
			<br>
			{{errors.description.message}}
		</span>
		</p>
	</div>
	<div class="row">
		<form ng-submit = "createItem(user._id)" class="col s12">
			<div class="input-field col s6">
				<input type="text" ng-model="newItem.title" placeholder="Title" required>
			</div>
			<div class="input-field col s12">
				<textarea ng-model="newItem.description" class="materialize-textarea" placeholder="Description"></textarea>
			</div>
			<div class="input-field col s6  blue-grey-text darken-4">
				<select ng-model="newItem._friend" class="browser-default">
					<option value="" disabled selected>Bring a friend?</option>
					<option value="{{user._id}}" ng-repeat="user in users">{{user.name}}</option>
				</select>
			</div>
			<div class="input-field col s12  blue-grey-text darken-4">
				<input type="submit" value="Add to List">
			</div>
		</form>
	</div>

	<h3>Before I die I want to...</h3>
	<div ng-repeat="item in items" class="grey-text lighten-3">
		<input type="checkbox" id="{{$index}}" ng-checked="item.checked" ng-click="updateItem(item._id)">
		<label for="{{$index}}">
			{{item._user.name}} |
			{{item.title}} -
			{{item.description}}... -
			{{item.createdAt | date: "MMMM d, yyyy" }}
		</label>
	</div>
	<h3>List of users:</h3>
	<p ng-repeat="user in users">
		<a href="#!/users/{{user._id}}">{{user.name}}</a>
	</p>
</div>
